### 1. Write a function that prints 'Hello, World!'

In [2]:
def great():
    print("Hello, World!")

In [3]:
great()

Hello, World!

### 2. Write a function that takes a name as a parameter and prints a greeting.

In [4]:
def great_n(name):
    print(f"Hello, {name}!")

In [6]:
great_n('Bolu')

Hello, Bolu!

### 3. Write a function that returns the square of a number.

In [18]:
def sqr (n):
    return (f'The square of the number is {n * n}')

In [19]:
sqr (6)

'The square of the number is 36'

### 4. Write a function that takes two numbers and returns their sum.

In [17]:
def num_sum(a, b):
    return (f'The sum of the 2 numberes is {a + b}')

In [16]:
num_sum(44,789)

'The sum of the 2 numberes is 833'

### 5. Write a function that returns the maximum of two numbers.

In [13]:
def maxi(a, b):
    if a > b:
        return (f'The maximum of the the 2 numbers is {a}')
    else:
        return (f'The maximum of the the 2 numbers is {b}')

In [14]:
maxi(34,7)

'The maximum of the the 2 numbers is 34'

### 6. Write a function that checks if a number is even or odd.

In [25]:
def even_odd_check(number):
    if number % 2 == 0:
        print(f"The number  {number} is EVEN.")
    else:
        print(f"The number {number}  is ODD.")

In [26]:
even_odd_check(45)

The number 45  is ODD.

### 7. Write a function that returns the length of a string.

In [27]:
def str_len(s):
    count = 0
    for char in s:   
        count += 1   
    return count

In [29]:
str_len('bolu')

4

### 8. Write a function that converts Celsius to Fahrenheit.

In [30]:
def cel_fah_conv (celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

In [31]:
cel_fah_conv (75)

167.0

### 9. Write a function that takes a list of numbers and returns their average.

In [32]:
def averg(numbers):
    if len(numbers) == 0:
        return 0  
    total = 0
    for num in numbers:
        total += num
    return total / len(numbers)

In [34]:
averg([32,55555,67,8])

13915.5

### 10. Write a function that counts vowels in a string.

In [35]:
def vowel_count(s):
    vowels = "aeiouAEIOU"    
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

In [36]:
vowel_count('onaderu boluwatife')

9

### 11. Write a function that takes a list and returns a new list with unique values.

In [39]:
def uni_val(list):
    unique_list = []
    for item in list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

In [42]:
num = [1,2,3,4,1,1,22,3]
result = uni_val(num)
print(result)

[1, 2, 3, 4, 22]

### 12. Write a function that checks if a word is a palindrome.

In [46]:
def check (word):
    word = word.lower()

    if word == word[::-1]:
        return ('The word is a palindrome')
    else:
        return ("The word is not a palindrome")

In [48]:
check('lawal')

'The word is a palindrome'

### 13. Write a function that calculates simple interest.

In [50]:
def sim_interest(principal, rate, time):
  
    interest = (principal * rate * time) / 100
    return (f'The interest on {principal} over a period of {time} years is {interest}')

In [51]:
sim_interest(12000,1.5,6)

'The interest on 12000 over a period of 6 years is 1080.0'

### 14. Write a function with a default parameter for tax rate.

In [57]:
def price(amount):
    tax_rate=0.05
    total = amount + (amount * tax_rate)
    return total

In [58]:
price(400)

420.0

### 15. Write a function that returns the factorial of a number.

In [59]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

In [60]:
factorial(6)

720

### 16. Write a function that takes any number of arguments and returns their sum.

In [61]:
def sum_all(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [63]:
sum_all(3,3,3)

9

### 17. Write a function that returns the minimum value in a list.

In [73]:
def find_min(list):
   
    minimum = list[0]   # start with the first element
    for item in list:
   
        if item < minimum:
            minimum = item
    return minimum

In [74]:
x = [2,3,4,5]
find_min(x)

2

### 18. Write a function that converts minutes to hours and minutes.

In [80]:
def conv_min(total_minutes):
    
    hours = total_minutes // 60   # integer division gives whole hours
    minutes = total_minutes % 60  # remainder gives leftover minutes
    return (f'{total_minutes} minnutes is equivalent to {hours} hours and {minutes} minutes')

In [81]:
conv_min(455)

'455 minnutes is equivalent to 7 hours and 35 minutes'

### 19. Write a function that accepts a username and prints a welcome message.

In [82]:
def welcome_user(username):
    print(f"Welcome, {username} We're glad to have you here.")

In [83]:
welcome_user('bolu')

Welcome, bolu We're glad to have you here.

### 20. Write a function that returns the area of a rectangle.

In [85]:
def rec_area(length, width):
    
    return (f' The Area of the rectangle is {length * width}')

In [86]:
rec_area(5,7)

' The Area of the rectangle is 35'

### 21. Write a function that takes a list and returns the largest number.

In [97]:
def find_max(lis):
    maximum = lis[0]   
    for item in lis:
        if item > maximum:
            maximum = item
    return f'The highest amoung the numbers is {maximum}'

In [98]:
y = [3,5,66]

print(find_max(y))

The highest amoung the numbers is 66

### 22. Write a function that checks if a number is positive, negative, or zero.

In [100]:
def check_num(num):
    
    if num > 0:
        return f"{num} is positive"
    elif num < 0:
        return f"{num} is negative"
    else:
        return f"{num} is zero"

In [101]:
check_num (-33)

'-33 is negative'

### 23. Write a function that returns the reverse of a string.

In [109]:
def rev_str (text):
    return f'The reverse of {text} is {text[::-1]}'

In [111]:
print(rev_str ('boy'))

The reverse of boy is yob

In [110]:
print(rev_str("hello"))

The reverse of hello is olleh

### 24. Write a function that calculates the power of a number.

In [112]:
def power(base, exponent):

    return base ** exponent

In [113]:
power(4,6)

4096

### 25. Write a function that accepts score and returns grade using default grading scale.

In [117]:
def grade(score):
   
    if score >= 70:
        return "A"
    elif score >= 60:
        return "B"
    elif score >= 50:
        return "C"
    elif score >= 40:
        return "D"
    else:
        return "F"

In [118]:
grade(66)

'B'

###  26. Write a function that counts words in a sentence.

In [120]:
def count_wd(sentence):
   
    words = sentence.split()   
    return len(words)

In [121]:
count_wd('The boy is going to the top')

7

###  27. Write a function that checks if a number is prime.

In [122]:
def is_prime(num):
   
    if num <= 1:
        return 'The number is not prime'
    for i in range(2, int(num**0.5) + 1):  
        if num % i == 0:
            return 'The number is not prime'
    return 'The number is not prime'

In [123]:
is_prime(44)

'The number is not prime'

### 28. Write a function that returns the sum of digits of a number

In [124]:
def sum_of_digits(num):
    
    total = 0
    for digit in str(num):   # convert to string, handle negative numbers
        total += int(digit)
    return total

In [125]:
sum_of_digits(445)

13

### 29. Write a function that accepts a list of prices and applies a default discount.

In [126]:
def disc(prices, discount=0.10):

    discounted_prices = []
    for price in prices:
        new_price = price - (price * discount)
        discounted_prices.append(new_price)
    return discounted_prices

In [127]:
u = [230,450]

disc(u)

[207.0, 405.0]

### 30. Write a function that formats and returns a full name from first and last name.

In [128]:
def full_name(first_name, last_name):
    
    first = first_name.strip().capitalize()
    last = last_name.strip().capitalize()
    return f"{first} {last}"

In [129]:
full_name('hala','madrid')

'Hala Madrid'